<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="wheresFidoProcessorServiceBean"
		  class="com.esri.geoevent.processor.WheresFidoProcessorService"
		  activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
		<property name="manager" ref="geoDefManagerService" />
		<property name="messaging" ref="messagingService" />
	</bean>


	<reference id="geoDefManagerService"
			   interface="com.esri.ges.manager.geoeventdefinition.GeoEventDefinitionManager" />

	<reference id="messagingService"
			   interface="com.esri.ges.messaging.Messaging"
			   timeout="1000" />



	<service id="wheresFidoProcessorService"
			 ref="wheresFidoProcessorServiceBean"
			 interface="com.esri.ges.processor.GeoEventProcessorService"/>
</blueprint>